<h2 class="page_heading">Contacts</h2>
<p class="help">This demonstrates a combined view of contacts from both Salesforce organisations.</p>
<%= form_tag(contacts_path, method: :get) do %>
  <div class="field_wrapper">
    <div class="field_label">
      <%= label_tag(:keywords, "Search keywords") %>
    </div>
    <div class="field_input">
      <%= text_field_tag('q[keywords]', current_scopes[:keywords], id: 'keywords') %>
    </div>
  </div>
  <%= submit_tag("Search", name: nil) %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @contacts.empty? %>
      <tr>
        <td class="warning" colspan="3">No contacts available</td>
      </tr>
    <% else %>
      <%= render(@contacts, type: 'search') %>
    <% end %>
  </tbody>
</table>
<%= paginate(@contacts) %>
