<h2 class="page_heading">Companies</h2>
<p class="help">Companies are standard ActiveRecord models stored in the app database.</p>
<%= form_tag(companies_path, method: :get) do %>
  <div class="field_wrapper">
    <div class="field_label">
      <%= label_tag(:keywords, "Search keywords") %>
    </div>
    <div class="field_input">
      <%= text_field_tag('q[keywords]', current_scopes[:keywords], id: 'keywords') %>
    </div>
  </div>
  <%= submit_tag("Search", name: nil) %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @companies.empty? %>
      <tr>
        <td class="warning" colspan="2">No companies available</td>
      </tr>
    <% else %>
      <%= render(@companies, type: 'default') %>
    <% end %>
  </tbody>
</table>
<%= paginate(@companies) %>
<ul>
  <li><%= link_to('New Company', new_company_path) %></li>
</ul>
