<%= form_tag(companies_path, method: :get) do %>
  <%= label_tag(:query, "Search for") %>
  <%= text_field_tag(:query, search_query) %>
  <%= submit_tag("Search") %>
<% end %>
<ol>
  <% @companies.each do |company| %>
    <li><%= company.name %></li>
  <% end %>
</ol>