<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Heroku Starter Project</title>
    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag('application') %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="centred_container">
      <h1><%= link_to('Heroku Starter Project', root_path) %></h1>
      <nav>
        <ul id="header_navigation">
          <li><%= link_to('About', root_path) %></li>
          <li><%= link_to('Search', search_path) %></li>
          <li><%= link_to('Companies', companies_path) %></li>
          <li><%= link_to('Contacts', contacts_path) %></li>
          <li><%= link_to('Organisation A Contacts', salesforce_organisation_a_contacts_path) %></li>
          <li><%= link_to('Organisation B Contacts', salesforce_organisation_b_contacts_path) %></li>
        </ul>
      </nav>
    </header>
    <section id="content">
      <div class="centred_container">
        <%= render('shared/flashes') %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
